.card {
    max-width: 100%;
    transition: background-color 0.3s ease;
    cursor: pointer;
    margin-top: 25px;
    background-color: white;
    overflow: hidden;

    &-img-top {
        height: 300px;
    }

    &:hover {
        background-color: $color-select;
    }

    a {
        text-decoration: none; 
        color: inherit; 
    }
}  
// Estilos para el contenedor de las tarjetas
.container-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-items: center;
    align-items: start;

    @media (min-width: 575px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1440px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

// cards productos
.container-cards-productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    justify-content: center; // Centro horizontalmente
    align-items: center;    // Centro verticalmente


    @media (min-width: 575px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }

    @media (min-width: 1024px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 1440px) {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}