.logo-redondo-pie {
    width: 200px;
    display: flex;
    margin: 0 auto;

}

// Medidas para la pagina general
@media (min-width: 768px) and (max-width: 1023px) {
}

@media (min-width: 1024px) {

}

@media (min-width: 1600px) {

}