$color-pagina: #49013a;
$color-select: #ffb0ee;
$color-link-product: black;
$color-link-select-product: blue;
$color-text-select: #ffffff;
$color-addcompra: #007bff;
$color-addcompraclick: #004792;
$color-main: rgb(247, 247, 247);
$color-marco-parrafo: rgba(192, 192, 192, 0.295);